h1 {
	font-size: 40px;
	color: gray;
}

div.frsit {
	padding: 82px;
	color: red;
}

#smallheader {
	position: absolute;
}

#meme {
	font-family: "Comic Sans MS", cursive, sans-serif;
}
