
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KH563LDTF2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KH563LDTF2');
</script>


<script>
	
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCeNXnkOmYoq1-Auc7mv3fGNlz4nvaxCKw",
    authDomain: "test-website-8a822.firebaseapp.com",
    databaseURL: "https://test-website-8a822.firebaseio.com",
    projectId: "test-website-8a822",
    storageBucket: "test-website-8a822.appspot.com",
    messagingSenderId: "771010438720",
    appId: "1:771010438720:web:a864fb52d12d229447a1a5",
    measurementId: "G-N9FZEPFZEQ"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
